<button
  pButton
  class="h-3rem w-6rem"
  aria-label="go back button"
  (click)="goBack()"
>
  Volver
</button>

<ng-template [ngIf]="loading" [ngIfElse]="contentLoaded">
  <skeleton></skeleton>
</ng-template>

<ng-template #contentLoaded>
  <ng-template
    [ngIf]="isEditingProduct || isAddingProduct"
    [ngIfElse]="detailOnly"
  >
    <product-form></product-form>
  </ng-template>

  <ng-template #detailOnly>
    <div class="surface-card p-4 border-round w-full h-full mb-1">
      <product-detail [product]="product"></product-detail>
    </div>

    <div
      class="surface-card mx-4 mt-2 border-round w-full h-full"
      *ngIf="product?.operations?.length"
    >
      <operations-list
        [productOperations]="product!.operations"
      ></operations-list>
    </div>
  </ng-template>
</ng-template>
