/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

:root {
  --background-color: #fff;
  --text-color: #222;
}

body.dark-theme,
div.dark-theme,
h1.dark-theme,
h2.dark-theme {
  --text-color: #fff;
  --background-color: #222;
}

body,
div {
  font-family: var(--font-family);
  background: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
p {
  color: var(--text-color);
}
