<div>
  <ng-template [ngIf]="loading" [ngIfElse]="contentLoaded">
    <skeleton></skeleton>
  </ng-template>

  <ng-template #contentLoaded>
    <h1>Panel de Control de Inventario</h1>
    <div class="flex justify-content-around">
      <div
        class="surface-card p-4 shadow-2 border-round w-6 align-items-center w-5 h-full"
      >
        <bar-chart [stackedData]="stackedData"></bar-chart>
      </div>

      <div
        class="surface-card p-4 shadow-2 border-round justify-content-end w-5 h-full"
      >
        <div>
          <span class="font-semibold">Total de productos:</span>
          <div class="font-medium text-500 mb-3">
            {{ totalProducts }} productos
          </div>
        </div>

        <div>
          <span class="font-semibold">Productos con stock bajo:</span>

          <div class="flex">
            <div class="font-medium text-500 mb-3 mr-4">
              {{ lowStockProducts.length }} productos
            </div>
            <span
              aria-label="delete button"
              class="cursor-pointer underline text-primary"
              (click)="setShowLowStockProducts()"
              >Ver productos</span
            >
          </div>
        </div>
        <div>
          <span class="font-semibold">Valor total del inventario:</span>
          <div class="font-medium text-500 mb-3">
            ${{ totalInventoryValue.toFixed(2) }}
          </div>
        </div>
      </div>
    </div>

    <low-cost-products
      *ngIf="showLowStockProducts"
      [products]="lowStockProducts"
    ></low-cost-products>
  </ng-template>
</div>
