<div class="p-3">
  <h2 class="pb-2">Panel de Control de Inventario</h2>
  <div class="card p-fluid mb-4">
    <div class="flex flex-column gap-3">
      <!-- <div>
        <span class="font-semibold">Total de productos:</span>
        {{ totalProducts$ | async }}
      </div>
      <div>
        <span class="font-semibold">Productos con stock bajo:</span>
        {{ lowStockCount$ | async }}
      </div>
      <div>
        <span class="font-semibold">Valor total del inventario:</span> ${{
          totalValue$ | async
        }}
      </div> -->
    </div>
  </div>
</div>
