<div class="p-3">
  <ng-template [ngIf]="loading" [ngIfElse]="contentLoaded">
    <skeleton></skeleton>
  </ng-template>

  <ng-template #contentLoaded>
    <p-inputSwitch
      [(ngModel)]="isDarkModeSetted"
      (onChange)="changeToDarkMode($event)"
    ></p-inputSwitch>
    <div class="flex justify-content-around">
      <div
        class="surface-card p-4 shadow-2 border-round w-6 align-items-center w-5 h-full"
      >
        <bar-chart></bar-chart>
      </div>

      <div
        class="surface-card p-4 shadow-2 border-round justify-content-end w-5 h-full"
      >
        <span class="font-semibold">Total de productos:</span>
        <div class="font-medium text-500 mb-3">
          {{ totalProducts }} productos
        </div>

        <div>
          <span class="font-semibold">Productos con stock bajo:</span>
          <!-- mostrar una lista de los productos con bajo stock, con nombre y stock actual -->
          <div class="font-medium text-500 mb-3">
            {{ lowStockProducts.length }} productos
          </div>
        </div>
        <div>
          <span class="font-semibold">Valor total del inventario:</span>
          <div class="font-medium text-500 mb-3">
            ${{ totalInventoryValue.toFixed(2) }}
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
